.navigator {
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1.125rem;
  margin: 1rem 0.25rem 0 0.25rem;
  padding: 0.5rem;
}
